.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border-radius: var(--border-radius);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#searchBar {
    padding: 8px;
    font-size: 1.3rem;
    border: 2px solid var(--cor-terciaria);
    border-radius: var(--border-radius);
    width: 45rem;
}

.linha2 {
    height: 3px;
    background-color: var(--cor-secundaria); 
    width: 100%; 
}

.card p {
    font-size: 1rem;
    margin: 0.3rem 0;
}

.botoes__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
    border: 2px solid var(--cor-primaria);
    background-color: var(--cinza);
    font-size: 1rem;
}

button i {
    font-size: 1rem;
}

button:hover {
    background-color:#96878c;
    color: var(--cor-secundaria); 
    border: 2px solid var(--cor-secundaria);
}

.excluirProduto {
    outline: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

#verDetalhes, #editarProduto {
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius);
}







