body {
    height: 100vh;
}

.faixas {
    display: flex;
    flex-direction: row;
}

.faixa__logo {
    flex: 0.4;
    background-color: aqua;
    display: flex;
}

.faixa__logo img {
    max-width: 90%;
}

.faixa__login {
    flex: 0.6;
    background-color: brown;
}

.form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form__login input{
    width: 40%;
}