* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

:root {
    --cor-primaria: #80002D; 
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #000000;
    --cinza: #DBDBDB;
    --border-radius: 8px;
}
