@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --cor-primaria: #FF6B00;     
    --cor-secundaria: #FFF8F0;  
    --cor-terciaria: #1E1E24;    
    --cinza: #D9D9D9;            
    --border-radius: 8px;
}
